{% style %}
  
{% endstyle %}

<div class="hero-block hero-block-{{ section.id }}">
    
</div>

{% schema %}
{
    "name": "Hero Section",
    "tag": "section",
    "class": "hero-sc",
    "settings": [],
    "blocks": [],
    "presets": [
        {
            "name": "Hero Section"
        }
    ]
}
{% endschema %}