{% style %}
  .product-grid-block-{{ section.id }} {
    background: {{ section.settings.bg-color }};
  }
{% endstyle %}

<div class="product-grid-block product-grid-block-{{ section.id }}"></div>