{% style %}
  .product-grid-block-{{ section.id }} {
    background: {{ section.settings.bg-color }};
  }
{% endstyle %}

<div class="product-grid-block product-grid-block-{{ section.id }}">
    <div class="primary-container">
        <div class="product-grid-innerblock product-grid-innerblock-{{ section.id }}"></div>
    </div>
</div>

{% schema %}
{
    "name": "Product Grid",
    "tag": "section",
    "class": "product-grid-sc",
    "settings": [],
    "blocks": [],
    "presets": [
        {
            "name": "Product Grid"
        }
    ]
}
{% endschema %}