{% style %}
  .product-grid-block-{{ section.id }} {
    background: {{ section.settings.bg-color }};
  }
{% endstyle %}

<div class="product-grid-block product-grid-block-{{ section.id }}">
    <div class="primary-container">
        <div class="product-grid-innerblock product-grid-innerblock-{{ section.id }}">
            <h2 class="product-grid-heading"></h2>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Product Grid",
    "tag": "section",
    "class": "product-grid-sc",
    "settings": [
        {
            "type": "color_background",
            "id": "bg_color",
            "label": "Background Color",
            "default": "#ffffff"
        }
    ],
    "blocks": [],
    "presets": [
        {
            "name": "Product Grid"
        }
    ]
}
{% endschema %}