@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.jost { font-family: "Jost", sans-serif; }

.primary-container {
    max-width: 1308px;
    margin: 0 auto;
    padding-inline: 16px;
}

/* Hero section */
.hero-top-bar-block {
    padding: 10px 0;
}

.hero-top-bar-innerblock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: relative;
}

.hero-top-bar-hambuger-block {
    display: none;
}

@media screen only and (max-width: 768px) {
    .hero-top-bar-hambuger-block {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
}