@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.jost { font-family: "Jost", sans-serif; }

*{
    margin: 0;
    padding: 0;
}


.primary-container {
    max-width: 1308px;
    margin: 0 auto;
    padding-inline: 16px;
}

.primary-btn {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: normal;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 12px 22px 12px 40px;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease-in-out;
}

/* The Sliding Background */
.primary-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 1;
    transition: width 0.3s ease-in-out;
}

.primary-btn:hover::before {
    width: 100%;
}

/* Hero section */
.hero-top-bar-block {
    padding: 10px 0;
}

.hero-top-bar-innerblock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: relative;
}

.hero-top-bar-hambuger-block {
    display: none;
}

.hero-top-bar-logo-block a {
    width: 100%;
    height: 100%;
    display: flex;
}

.hero-top-bar-logo-block a img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

.hero-top-bar-text {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 13.42px;
    letter-spacing: normal;
}

@media screen only and (max-width: 768px) {
    .hero-top-bar-hambuger-block {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
    .hero-top-bar-hambuger-block svg.close {
        display: none;
    }
    .hero-top-bar-hambuger-block.active svg.hamburger {
        display: none;
    }
    .hero-top-bar-hambuger-block.active svg.close {
        display: block;
    }
    .hero-top-bar-text-block {
        display: none;
    }
}