@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.jost { font-family: "Jost", sans-serif; }

*{
    margin: 0;
    padding: 0;
}


.primary-container {
    max-width: 1308px;
    margin: 0 auto;
    padding-inline: 16px;
}

.left-container {
    padding-left: max(16px, calc((100vw - 1308px) / 2 + 16px));
}

.primary-btn {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: normal;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 12px 22px 12px 40px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease-in-out;
}

/* The Sliding Background */
.primary-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 1;
    transition: width 0.3s ease-in-out;
}

.primary-btn:hover::before {
    width: 100%;
}

/* Hero section */
.hero-top-bar-block {
    padding: 10px 0;
    position: relative;
}

.hero-top-bar-innerblock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: relative;
}

.hero-top-bar-hambuger-block {
    display: none;
}

.hero-top-bar-logo-block a {
    width: 100%;
    height: 100%;
    display: flex;
}

.hero-top-bar-logo-block a img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

.hero-top-bar-text {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 13.42px;
    letter-spacing: normal;
}

.hero-top-bar-mobile-block {
    display: none;
}

.hero-bottom-bar-block {
    padding: 10px 0;
}

.hero-bottom-bar-text {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 13.42px;
    letter-spacing: normal;
    text-align: center;
}

.hero-main-top-img-block {
    position: relative;
}

.hero-main-top-img-block img {
    width: 100%;
    height: 390px;
    display: block;
    object-fit: cover;
}

.hero-main-top-img-block img:nth-child(2) {
    display: none;
}

.hero-main-bottom-innerblock {
    display: flex;
}

.hero-main-bottom-content-block {
    width: 40%;
    padding: 35px 0 51px;
}

.hero-main-bottom-img-block {
    width: 60%;
}

.hero-main-bottom-img-block img {
    width: 100%;
    height: 402px;
    display: block;
    object-fit: cover;
}

.hero-main-bottom-content-btn-block {
    display: flex;
    width: 100%;
}

.hero-main-bottom-content-title {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: clamp(30px, 4.861vw, 70px);
    line-height: 100%;
    letter-spacing: normal;
}

.hero-main-bottom-content-text-block {
    padding-top: clamp(24px, 3.472vw, 50px);
    padding-bottom: clamp(24px, 3.472vw, 50px);
}

.hero-main-bottom-content-text-block p,
.hero-main-bottom-content-text-block a,
.hero-main-bottom-content-text-block li {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: clamp(16px, 1.389vw, 20px);
    line-height: 140%;
    letter-spacing: normal;
}

.hero-main-bottom-over-btn-block {
    display: none;
}

/* Products grid */

@media only screen and (max-width: 768px) {
    .hero-top-bar-block {
        padding: 23px 0;
        box-shadow: 0px 2px 4px 0px #00000026;
    }
    .hero-top-bar-innerblock {
        justify-content: center;
    }
    .hero-top-bar-hambuger-block {
        display: block;
        position: absolute;
        top: -4px;
        left: 0;
        cursor: pointer;
    }
    .hero-top-bar-hambuger-block svg.close {
        display: none;
    }
    .hero-top-bar-hambuger-block.active svg.hamburger {
        display: none;
    }
    .hero-top-bar-hambuger-block.active svg.close {
        display: block;
    }
    .hero-top-bar-text-block,
    .hero-top-bar-btn-block {
        display: none;
    }
    .hero-top-bar-mobile-block {
        display: block;
        position: fixed;
        top: 66px;
        left: 0;
        width: 100%;
        Background-color: #F2F2F2;
        padding: 25px 65.5px;
        transition: all 0.3s ease-in-out;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-100%);
        z-index: 0;
    }
    .hero-top-bar-mobile-block.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0%);
        z-index: 1;
    }
    .hero-top-bar-mobile-innerblock {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 16px;
    }
    .hero-main-block {
        display: flex;
        flex-direction: column-reverse;
    }
    .hero-main-top-img-block img:first-child {
        display: none;
    }
    .hero-main-top-img-block img:nth-child(2){
        display: block;
    }
    .hero-main-bottom-img-block {
        display: none;
    }
    .hero-main-bottom-content-block {
        width: 100%;
        text-align: center;
        padding: 49px 0 12px;
    }
    .hero-main-bottom-block .left-container {
        padding-left: 16px;
        padding-right: 16px;
    }
    .hero-main-bottom-content-btn-block {
        display: none;
    }
    .hero-main-bottom-content-text-block {
        padding-bottom: 0;
    }
    .hero-main-bottom-over-btn-block {
        display: block;
        position: absolute;
        bottom: 39px;
        left: 50%;
        transform: translateX(-50%);
    }
    .hero-main-top-img-block img {
        height: 264px;
    }
}